* {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    background: #160E2A;
}

section {
    margin-bottom: 10em;
}

.btn {
    position: relative;
    z-index: 1;
    border-radius: 0.4rem;
    padding: 0.5em 1em;
    border: none;
    background: #000;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    transition: 0.3s background ease-in-out;
}

.btn:hover {
    background: linear-gradient(90deg, rgba(64, 175, 253, 1) 0%, rgba(171, 47, 254, 1) 100%);
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

a:hover {
    background: -webkit-linear-gradient(#E6B9FF, #9E89FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-wrapper {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.15em;
    border-radius: 0.5rem;
    background: rgb(171, 47, 254);
    background: linear-gradient(90deg, rgba(64, 175, 253, 1) 0%, rgba(171, 47, 254, 1) 100%);
}

.header {
    position: relative;
    z-index: 10;
    background: linear-gradient(180deg, rgba(22, 14, 42, 0.9) 0%, rgba(31, 21, 57, 0.9) 100%);
    backdrop-filter: blur(8px);
}

.header__inner {
    background: rgba(255, 255, 255, 0.05);
}

.header__gradient {
    position: absolute;
    top: -20rem;
    left: -50%;
    transform: translateX(50%);
    width: 40rem;
    height: 30rem;
    background: rgb(251, 3, 245);
    background: radial-gradient(circle, rgba(251, 3, 245, 1) 0%, rgba(170, 156, 255, 1) 100%);
    border-radius: 100%;
    filter: blur(15em);
}

h1 {
    font-family: 'Jura', sans-serif;
    font-size: 4.25rem;
    background: -webkit-linear-gradient(#E6B9FF, #9E89FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.form-control {
    border: none;
    text-align: center;
    padding: 1em 0.5em;
}

.form-control, .form-control:focus, .form-control::placeholder {
    color: #fff;
}

.form-control, .form-control:focus {
    background: #0d0819;
}

.homescreen {
    padding: 10rem 0 7rem 0;
    position: relative;
}

.homescreen__text {
    z-index: 10;
}

.homescreen__text h1 {
    margin-bottom: 1em;
}

.homescreen::after {
    position: absolute;
    content: "";
    width: 150%;
    height: 100%;
    top: 0;
    left: -25%;
    background: linear-gradient(180deg, rgba(22, 14, 42, 1) 0%, rgba(31, 21, 57, 1) 100%);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.homescreen__image {
    height: 110%;
    width: auto;
    position: absolute;
    top: -5em;
    right: 5em;
    z-index: 5;
}

.demo img {
    width: 8rem;
    height: auto;
    margin-left: -1.5em;
    user-select: none;
}

.demo p {
    font-size: 12px;
    margin-bottom: 1em;
}

.demo .demo__heading {
    font-family: 'Poppins', sans-serif;
    line-height: 0;
    font-weight: bold;
}

.heading {
    position: relative;
    width: max-content;
    margin-bottom: 4em;
}

.heading h2 {
    z-index: 2;
    text-align: center;
}

.heading__circle {
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: -1em;
    transform: translateY(-50%);
    width: 5em;
    height: 5em;
    background: linear-gradient(180deg, #6147F8 0%, #BC5EFF 100%);
}

.nft-card {
    position: relative;
    z-index: 2;
    width: 200px;
}

.nft-card__inner {
    width: 110%;
    border: 1px solid white;
    height: 15rem;
}

.nft-card__image {
    position: absolute;
    top: -32px;
}

.nft-card p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.latest-collections__text p, .about p {
    color: #80AB9E;
    font-size: 1rem;
    font-weight: normal;
}

.latest-collections__gradient {
    position: absolute;
    width: 25em;
    height: 25em;
    border-radius: 100%;
    left: -12em;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(180deg, #2603FB 0%, #DC06FF 100%);
    filter: blur(12em);
}

.about {
    width: 90vw;
    align-items: stretch;
    justify-content: stretch;
    border-radius: 0.5rem;
    padding: 0.15em 0.15em 0.15em 0;
    background: rgb(171, 47, 254);
    background: linear-gradient(90deg, rgba(64, 175, 253, 1) 0%, rgba(171, 47, 254, 1) 100%);
}

.about, .about__inner {
    border-top-right-radius: 30em;
    border-bottom-right-radius: 30em;
}


.about__inner {
    background: #0d0819;
    padding: 8em 0;
}

.feature-row:nth-child(2) {
    position: relative;
    left: 3em;
}

.feature {
    flex: 1;
    border-radius: 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #110c1c;
    backdrop-filter: blur(10rem);
}

.feature p {
    color: #BDF3FF;
}

.abilities {
    padding-bottom: 10em;
    position: relative;
}

.abilities::after {
    content: "";
    position: absolute;
    width: 200vw;
    height: 100%;
    top: 0;
    left: -50vw;
    border-bottom: 1px solid #9B55FC;
    border-radius: 100%;
}

.footer {
    background: #0d0819;
}

.footer__nav a, .footer__copyright a {
    text-transform: none;
    font-family: 'Inter', sans-serif;
}

.footer__description {
    margin-bottom: 5em;
}

.footer__copyright * {
    color: #545C71;
}

@media screen and (max-width: 992px) {
    .about {
        width: 100vw;
        padding: 0.15em 0;
    }

    .about, .about__inner {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .feature-row:nth-child(2) {
        position: relative;
        left: 0;
    }

    .homescreen::after {
        border-radius: 0;
    }

    .abilities {
        padding-bottom: 3em;
    }

    .abilities::after {
        border-radius: 0;
    }
}
